# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities = pd.read_csv("../output_data/cities.csv", encoding="utf-8")
cities

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,cape town,-33.9258,18.4232,48.11,82.0,0.0,3.44,ZA,1627093921
1,busselton,-33.6500,115.3333,59.04,72.0,100.0,14.14,AU,1627093921
2,mar del plata,-38.0023,-57.5575,51.13,64.0,0.0,21.00,AR,1627093655
3,bluff,-46.6000,168.3333,56.80,67.0,56.0,5.93,NZ,1627093922
4,bethel,41.3712,-73.4140,70.68,82.0,1.0,0.00,US,1627093922
...,...,...,...,...,...,...,...,...,...
545,laguna de perlas,12.3429,-83.6712,78.40,88.0,100.0,13.20,NI,1627094089
546,tura,25.5198,90.2201,76.84,90.0,88.0,8.84,IN,1627094090
547,comodoro rivadavia,-45.8667,-67.5000,46.26,49.0,0.0,16.11,AR,1627094090
548,zapolyarnyy,69.4154,30.8136,45.68,81.0,100.0,28.66,RU,1627094090
549,ulaangom,49.9811,92.0667,77.54,47.0,26.0,3.65,MN,1627094091

In [3]:
cities = cities.dropna()
cities

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,cape town,-33.9258,18.4232,48.11,82.0,0.0,3.44,ZA,1627093921
1,busselton,-33.6500,115.3333,59.04,72.0,100.0,14.14,AU,1627093921
2,mar del plata,-38.0023,-57.5575,51.13,64.0,0.0,21.00,AR,1627093655
3,bluff,-46.6000,168.3333,56.80,67.0,56.0,5.93,NZ,1627093922
4,bethel,41.3712,-73.4140,70.68,82.0,1.0,0.00,US,1627093922
...,...,...,...,...,...,...,...,...,...
545,laguna de perlas,12.3429,-83.6712,78.40,88.0,100.0,13.20,NI,1627094089
546,tura,25.5198,90.2201,76.84,90.0,88.0,8.84,IN,1627094090
547,comodoro rivadavia,-45.8667,-67.5000,46.26,49.0,0.0,16.11,AR,1627094090
548,zapolyarnyy,69.4154,30.8136,45.68,81.0,100.0,28.66,RU,1627094090
549,ulaangom,49.9811,92.0667,77.54,47.0,26.0,3.65,MN,1627094091

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
humidity = cities["Humidity"]
max_humidity = humidity.max()

In [5]:
locations = cities[["Lat","Lng"]]

###  Please note the Humidity Heat Map screenshot was placed in the Images folder \Python-API-challenge\Images

In [6]:
# Plot Heatmap
fig = gmaps.figure()

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=max_humidity,point_radius=2)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

In [8]:
ideal_cities = cities.loc[(cities["Max Temp"] > 70) & (cities["Max Temp"] < 80) 
                          & (cities["Wind Speed"] < 10) & (cities["Cloudiness"] == 0)]
ideal_cities.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
62,waddan,29.1614,16.1390,73.26,57.0,0.0,1.36,LY,1627093939
74,bourail,-21.5667,165.4833,79.63,57.0,0.0,7.05,NC,1627093942
103,palma di montechiaro,37.1926,13.7650,79.16,58.0,0.0,1.72,IT,1627093951
129,bayir,37.2687,28.2167,70.32,56.0,0.0,4.85,TR,1627093958
160,vao,-22.6667,167.4833,71.15,80.0,0.0,7.07,NC,1627093968

In [9]:
ideal_cities = ideal_cities.dropna()
ideal_cities.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
62,waddan,29.1614,16.1390,73.26,57.0,0.0,1.36,LY,1627093939
74,bourail,-21.5667,165.4833,79.63,57.0,0.0,7.05,NC,1627093942
103,palma di montechiaro,37.1926,13.7650,79.16,58.0,0.0,1.72,IT,1627093951
129,bayir,37.2687,28.2167,70.32,56.0,0.0,4.85,TR,1627093958
160,vao,-22.6667,167.4833,71.15,80.0,0.0,7.07,NC,1627093968

In [10]:
ideal_cities.reset_index(inplace=True)
ideal_cities.head()

,index,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,62,waddan,29.1614,16.1390,73.26,57.0,0.0,1.36,LY,1627093939
1,74,bourail,-21.5667,165.4833,79.63,57.0,0.0,7.05,NC,1627093942
2,103,palma di montechiaro,37.1926,13.7650,79.16,58.0,0.0,1.72,IT,1627093951
3,129,bayir,37.2687,28.2167,70.32,56.0,0.0,4.85,TR,1627093958
4,160,vao,-22.6667,167.4833,71.15,80.0,0.0,7.07,NC,1627093968

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
hotel_list = []

In [12]:
for x in range(len(ideal_cities)):
    lat = ideal_cities.loc[x]["Lat"]
    lng = ideal_cities.loc[x]["Lng"]
    
    params = {
            "location": f'{lat},{lng}',
            "radius": 5000,
            "types": "hotel",
            "key": g_key
            }
        
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    hotel_jsn = requested.json()
    try:
          hotel_list.append(hotel_jsn['results'][0]['name'])
    except:
          hotel_list.append("")
                
ideal_cities["Hotel Name"] = hotel_list
ideal_cities = ideal_cities.dropna()
ideal_cities.head()

,index,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
0,62,waddan,29.1614,16.1390,73.26,57.0,0.0,1.36,LY,1627093939,Waddan
1,74,bourail,-21.5667,165.4833,79.63,57.0,0.0,7.05,NC,1627093942,Bourail
2,103,palma di montechiaro,37.1926,13.7650,79.16,58.0,0.0,1.72,IT,1627093951,Palma di Montechiaro
3,129,bayir,37.2687,28.2167,70.32,56.0,0.0,4.85,TR,1627093958,BayÄ±r
4,160,vao,-22.6667,167.4833,71.15,80.0,0.0,7.07,NC,1627093968,Vao

In [13]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in ideal_cities.iterrows()]

###  Please note the Hotel Map screenshot was placed in the Images folder \Python-API-challenge\Images

In [14]:
# Add marker layer ontop of heat map
# markers = gmaps.marker_layer(locations)
locations = ideal_cities[["Lat", "Lng"]]
fig = gmaps.figure(center=(31.0, 31.0), zoom_level=1.7)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)

#fig = gmaps.figure()
markers = gmaps.marker_layer(locations)

fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))